

<div class="container mt-3">
<h3><%= @user.email %></h3>
  <div class="row mt-5">
    <div class="col-12">
      <h1>My Bookings</h1>
    </div>
  </div>

  <div class="row mt-5">
    <% @user.booked_flats.each do |flat| %>
      <div class="col-4">
        <div class="flat-card">
          <div class="flat-card-image" style="background-image: url('<%= flat.picture_url %>')"></div>
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4><%= flat.name %></h4>
            </div>
            <p><%= flat.address %></p>
            <div class="flex">
              <div class="flex">
                <i class="material-icons mr-2">people</i><span><%= flat.number_of_guests %></span>
              </div>
              <div class="flex ml-3">
                <i class="material-icons mr-2">euro_symbol</i> <%= flat.price_per_night %>
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <%= link_to 'More info', flat_path(flat) %>
            <!-- <a href="#" class="ml-3 text-warning">Edit</a> -->
            <a href="#" class="ml-3 text-danger">Cancel Booking</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h1>My Flats</h1>
    </div>
  </div>

  <div class="row mt-5">
    <% @user.flats.each do |flat| %>
      <div class="col-4">
        <div class="flat-card">
          <div class="flat-card-image" style="background-image: url('<%= flat.picture_url %>')"></div>
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4><%= flat.name %></h4>
            </div>
            <p><%= flat.address %></p>
            <div class="flex">
              <div class="flex">
                <i class="material-icons mr-2">people</i><span><%= flat.number_of_guests %></span>
              </div>
              <div class="flex ml-3">
                <i class="material-icons mr-2">euro_symbol</i> <%= flat.price_per_night %>
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <%= link_to 'More info', flat_path(flat) %>
            <a href="#" class="ml-3 text-warning">Edit</a>
            <a href="#" class="ml-3 text-danger">Remove</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
